<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h1 class="text-center mb-4">Generate Password</h1>
          <%= form_tag(password_path, method: :post, data: { turbo: false }, class: "form") do %>
            <div class="mb-3">
                <%= label_tag :passwordLength, "Password Length:", class: "form-label" %>
                <%= number_field_tag :passwordLength, session[:password_length] || 20, min: 1, max: 50, class: "form-control" %>
            </div>
            <div class="mb-3 form-check">
                <%= check_box_tag :withNumbers, 'on', session[:with_numbers], class: "form-check-input", id: "withNumbers" %>
                <%= label_tag :withNumbers, "Include Numbers", class: "form-check-label" %>
            </div>
            <div class="mb-3 form-check">
                <%= check_box_tag :withSpecialSigns, 'on', session[:with_special_signs], class: "form-check-input", id: "withSpecialSigns" %>
                <%= label_tag :withSpecialSigns, "Include Special Characters", class: "form-check-label" %>
            </div>
            <%= submit_tag "Generate", class: "btn btn-primary w-100" %>
            <% end %>
        </div>
        <% if @password.present? %>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h2 class="text-center">Generated Password</h2>
                    <p class="text-center"><%= @password %></p>
                    </div>
                </div>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
